# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~
*.swp

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
media/
staticfiles/
static_root/
*.mo


# dotenv
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# Test reports
*.cover
*.log
*.tmp
*.bak
*.orig
*.rej
