{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h2>Categories</h2>
  {% for cat in categories %}
    <a href="/category/{{ cat.id }}/">{{ cat.name }}</a>
  {% endfor %}

  <form method="get" action="/search/">
    <input type="text" name="q" placeholder="Search products...">
    <button type="submit">Search</button>
  </form>

  <h2>Products</h2>
  {% for p in products %}

    <div>
      <a href="/product/{{ p.id }}/">{{ p.title }}</a> - {{ p.price }} tg
      <p> {{p.description}}</p>
    </div>
  {% empty %}
    <p>No products available.</p>
  {% endfor %}
{% endblock %}
